:root {
    --primary-color: rgb(42, 52, 145);
    --secondary-color: rgb(125, 180, 214);
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 body {
     color: var(--primary-color);
     background-color: lightgray;
 }
 header {
    padding: 15px; 
    background-color: black;
     position: sticky;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 header h1 {
     background-color: var(--secondary-color);
     color: black;
     padding-left: 30px;
 }
 nav a {
     text-decoration: none;
     color: var(--secondary-color);
     border-bottom: 2px solid var(--secondary-color);
 }
 nav ul {
     display: flex;
     justify-content: space-between;
     list-style: none;
     padding-right: 50px;
 }
 
nav ul li a {
    padding: 5px 15px;
    margin: 10px;
    font-size: 22px;
}

 .hero {
     background-image: url("../images/cover.jpg");
     background-size: cover;
     padding: 125px;
     display: flex;
     justify-content: flex-end;
     background-attachment: fixed;
     background-position: center;
 }
.hero h2 {
    font-size: 30px;
    background-color: var(--secondary-color);
    position: relative;
    top: 80px;
    right: 25px;
}

.major {
    display: flex;
    justify-content: flex-start;
    margin-top: 25px;
}
.title {
    font-size: 33px;
    margin-right: 1%;
    text-align: right;
    width: 20%
}
.content {    
    border-left: 3px solid var(--primary-color);
    padding: 0 5% 0 3%;
    width: 66%;
}
.contact .content {  
    display: flex;
    padding: 20px 0 10px 0;
    justify-content: space-evenly;
}
.contact a {
    text-decoration: none;
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    font-weight: bold;
}

.grid-wrap {
    display: flex;
    width: 100%;
    justify-content: center;
}
.grid-wrap div {

}